body {
  background-color: darkgrey;
}

@font-face {
  font-family: Saiyan;
  src: url(multimedia/Saiyan-Sans.ttf)
}

h1 {
  font-family: Saiyan;
  font-size: 60px;
}

@font-face {
  font-family: Dragon Ball;
  src: url(multimedia/DragonBall.ttf);
}

h2 {
  font-family: Dragon Ball;
  font-size: 40px;
}

.imgProductos {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 1rem;
}

.card {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.colorBoton {
  font-family:fantasy;
  font-size: 18px;
  color: black;
  background-color: orangered;
}

.colorBoton:hover {
  color: white;
  background-color: blue;
}
